
.accept{
    color: #67A036;
    padding: 10px;
}
.accept:hover {
    color: #67A036;
    padding: 10px;
}

.accept_max_hired{
    color: #67A036;
    padding: 10px;
}
.accept_max_hired:hover {
    color: #67A036;
    padding: 10px;
}

.declined_max_hired {
    color: #c23f44;
    padding: 10px;
}
.declined_max_hired:hover{
    color: #c23f44;
    padding: 10px;
}

.hired{
    color: #67A036;
    padding: 10px;
}
.hired:hover {
    color: #67A036;
    padding: 10px;
}

.rem_emp {
    color: #c23f44;
    padding: 10px;
}
.rem_emp:hover {
    color: #c23f44;
    padding: 10px;
}

.declined {
    color: #c23f44;
    padding: 10px;
}
.declined:hover {
    color: #c23f44;
    padding: 10px;
}

.signup.forgot .modal-dialog {
  max-width: 100%;
  width: 500px;
}

#rehire_fr_job .rating_rehire {
  padding-left: 10px;
}

#rehire_fr_job .name_rating p {
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
  position: static;
}

.admin_rehire {
  position: absolute;
  right: 0;
  top: 10px;
}

.admin_rehire > div {
    float: right;
}

.rehiring_div {
  float: left;
  width: 100%;
}

.rehiring_div ul {
  float: left;
  padding: 0;
  width: 100%;
}

.rehiring_div li {
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
  list-style: outside none none;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

.candi_img {
  border: 1px solid #a1a1a1;
  border-radius: 50% !important;
  display: inline-block;
  float: left;
  height: 50px;
  overflow: hidden;
  width: 50px;
}

.name_rating {
  float: left;
  width: auto;
}

span.error_msg {
  background: #feefef none repeat scroll 0 0;
  border-radius: 5px;
  color: #f02d15;
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
  padding: 4px 6px;
  width: 100%;
}

.calender_div #datepicker {
  /*border: 1px solid #cccccc;*/
  margin-top : 5px!important;
  width:350px!important;
}

.datepicker-switch, .prev, .next {
  background: #3379b5 none repeat scroll 0 0!important;
  color: white !important;
}

.table-condensed{
border: 1px solid #cccccc !important;
}
.util-btn-margin-bottom-5 .btn{
	margin-bottom:0px !important;
}


.ui-timepicker-wrapper{
	z-index: 99999;
}

#multiselect_chosen{
	width:311px !important;
}
#category_chosen{
	width:311px !important;
}
#subcategory_chosen{
	width:311px !important;
}
#employer_id_chosen{
	width:311px !important;
}

#lunch_hour_chosen{
	width:225px !important;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px!important; }
.toggle.ios .toggle-handle { border-radius: 20px!important; }

.center_align_label{
	display: inline-block;
    line-height: 80px;
}

.dolar_sign {
  font-size: 15px;
  font-weight: bold;
  padding: 6px;
  position: absolute;
}

.documents {
  float: left;
  width: 100%;
}

.documents ul {
  padding: 0;
  width: 100%;
}
.documents ul li {
  border-bottom: 1px solid #e3e3e3;
  list-style: outside none none;
  padding: 20px 45px;
  position: relative;
  width: 100%;
}

.doc_img {
  color: #747474;
  font-size: 35px;
  left: 0;
  padding-right: 20px;
  position: absolute;
}

.documents ul li h6 {
  display: inline-block;
  font-size: 20px;
  overflow-wrap: break-word;
  padding-right: 50px;
  text-align: left;
  width: 100%;
}

.button_download {
  position: absolute;
  right: 0;
  top: 30%;
}

#salary_per_hour{
padding-left: 17px !important;
}

.field_forms {
    float: left;
    margin-bottom: 15px;
    margin-top: 4px;
    width: 100%;
    position: relative;
}

.strength_indicator{
	right: 20px; 
	position: absolute; 
	top: 0px;
}
.commission{
	right: 20px; 
	position: absolute; 
	top: 0px;
}

span.date_err {
  background: #feefef none repeat scroll 0 0;
  border-radius: 5px;
  color: #f02d15;
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 28px;
  margin-top: 5px;
  padding: 4px 6px;
  width: 75%;
}

.strength_indicator{
	font-size:14px!important;
}

