/*  Payment pages */
.ui-datepicker-trigger {
    padding: 10px;
    position: absolute;
}
#exportcsv-div {
    padding: 84px 0 0 3px;
    position: absolute;
}
#export-csv{
  display: none;
}
#search{
  display: none;
  margin-top: 28px;
}
/*  End Payment pages */
#category{
  max-height:200px;
   overflow:scroll; 
}
#no-data {
    padding: 132px 0px 0px 439px;
    position: absolute;
}

.ui-widget-header .ui-icon {
    background-image: url("../img/ui-icons_444444_256x240.png");
    
}
/*background:url(../images/hero-img.jpg) no-repeat left top; background-size:cover;}*/
#profile-pic {
    position: absolute;
    right: 81px;
}
.table-custom{
 margin-top:10px;
 }
.start-color{
    color: #d4aF37 !important;
}


.fa-star-half-o,.fa-star::before {
    color: #d4aF37;
}
.preview {
    left: 15px;
    position: absolute;
    top: 0;
}
.no-notification{
  padding: 100px 0px 0px 92px;
}
input[type="file"] {
    display: inline-block;
}

/*.industry-image-preview{
  position: absolute;
  top: 0;
  right: -10px;
}*/
/**************************/
.heading_row
{
  float:left;
  width:50%; 
  margin-left: 6px;
}
.width33company_info
{
  width:33%;
  padding:20px 25px;
  color:#3b3b3b;
  font-size:14px;
  float:left;
  text-align:center;
  
}
.company-job-catrgory-name{
  position:relative; min-height:35px; padding:0 25px; 
  border-bottom:1px solid #d8d8d8;
}
.company-job-catrgory-name span{ position:absolute; width:100%; display:block; left:0; top:50%; 
transform:translate(0,-50%) }
.bg_grey
{
  background:#efefef;
  /*border-bottom:1px solid #d8d8d8;*/
  border-left:1px solid #d8d8d8;
  /*border-right:1px solid #d8d8d8;*/
}
.width66company_info
{
  width:67%;
  color:#3b3b3b;
  font-size:14px;
  float:left;
  text-align:center;
  font-weight:500;
}
.sub_data
{
  float:left;
  width:100%;
  border-bottom:1px solid #d8d8d8;
}
.width50company_info
{width:50%;
float:left;
padding:7px;
border-bottom:1px solid #d8d8d8;
border-right:1px solid #d8d8d8;
}
.table-heading
{
  float:left;
  width:50%; 
  margin-left: 5px;
  border-top:1px solid #d8d8d8;
  border-left:1px solid #d8d8d8;
}
.industry-head
{
  width:33%;
  padding:7px;
  color:#3b3b3b;
  font-size:14px;
  float:left;
  text-align:center;
  font-weight:bold;
  border-right:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
}
.category-head
{width:50%;
float:left;
padding:7px;
font-weight: bold;
border-right:1px solid #d8d8d8;
}
