@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600);
body
{
	padding:0;
	margin:0;
}
.main
{
	width:100%;
	float:left;
}
.pdfhtml
{
	float: left;
	width:100%;
}
.pdfhtml h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.agreeDateTime {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
}
.agreeDateTime input[type=text] {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-top: 0;
	border-right: 0;
	width:80px;
}
.betweenand
{
	float: left;
	width: 100%;
	font-size: 14px;
	margin-top: 20px;
}
.betweenand input[type=text] {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-top: 0;
	border-right: 0;
}
.emplDiv
{
	font-size: 14px;
    width: 100%;
    text-align: left;
    float: left;
    margin-top: 20px;
    font-weight: bold;
}
.paraDiv
{
	float: left;
	width:100%;
	font-size: 14px;
	padding: 5px 15px;
}
.paraDiv li{
	list-style: lower-roman;
	margin-top: 15px;
	float: left;
}
span.DocDiv {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
.madwallpolicy
{
	float: left;
	width:100%;

}
.madwallpolicy ul {
    padding: 15px;
}
.madwallpolicy ul li input[type=text] {
    border-left: 0;
    border-top: 0;
	border-right: 0;
}
.madwallpolicy ul li {
	list-style: none;
	margin-bottom: 15px;
	float: left;
	width: 100%;

}
ul.paraDiv input[type=text] {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-top: 0;
	border-right: 0;
}
.signatureemploye
{
	float: left;
	width:100%;

}
.table_rating
{
	float: left;
	width:100%;
	margin-top: 20px;
}
.table_rating table {
    width: 100%;
	float: left;
	border: 1px solid #000;
}
.table_rating th{
	white-space: nowrap;
	padding: 10px;
}
.table_rating td{
	white-space: nowrap;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #000;
}
b.mrgnbtm {
    margin-top: 20px;
    display: inline-block;
}
.agreeDateTime .ui-body-c, .ui-overlay-c {
    border: none;
    box-shadow: none;
    width: auto;
    border-bottom: 1px solid #000;
    border-radius: 0;
    display: inline-block;
    width: auto;
}
.betweenand .ui-input-text input[type=text] {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    width: auto;
}
.ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    width: auto;
    display: inline-block;
    border-left: 0;
    border-right: 0;
    border-top: 0;
        background: none;
}
.ui-content
{

    padding: 0 !important;
}
.ui-disabled {
    opacity: 1 !important;
}
.signbtn {
    padding: 15px;
    text-align: center;
}
canvas#canvas {
    border: none !important;
}
.ui-header.ui-bar-b {
    padding: 10px;
    text-align: center;
    background: #0b4cc4;
    font-size: 16px;
    text-transform: uppercase;
}
a.ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-b {
    box-shadow: none;
    background: none;
    color: #fff;
    border: none;
    font-size: 25px;
}
.ui-btn-inner {
    border: none;
    font-size: 12px !important;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0;
}
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner
{
	padding:0 !important;
}
.signbtn input {
    background: #0b4cc4;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    margin: 0 6px;
}