.pac-container{
	z-index: 9999;
}

span.error_msgg {
    background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
}

#multiselect_chosen{
	width:350px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    color: #000;
}

.cat_error
{
     background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
}

.subcat_error
{
     background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
}


.skill_error
{
     background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
}

.has-error p.text-danger{
    background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
} 
a:focus{
    outline: 0;
    outline-offset: 0px; 
}


.ajax-load{
    width: 100%; 
    padding-top: 100px;
}
