

body {
	font-family: 'Arial', 'Helvetica', 'Sans Serif';
	margin: 0px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #62029d;
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 26px;
}

div.container {
	margin-left: auto;
	margin-right: auto;
	width: 846px;
	padding: 0px;
	margin-bottom: 30px;
}

img.logo {
	margin-top: 20px;
	margin-bottom: 30px;
}

div.clearfix {
	clear: both;
}

div.frame {
	padding: 0px 15px 0px 30px;
	margin: 0px 0px;
	float: left;
	width: 578px;
	display: none;
}

div.frame.small {
	width: 220px;
	height: 620px;
	font-size: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #B0B0B0;
	padding: 0px;
}

div.frame.big {
	width: 660px;
	font-size: 14px;
}

div.inner {
	padding: 0px 30px 0px 15px;
}

div.inner.loginBox {
	height: 130px;
}

div.takeaways {
	margin-top: 60px;
}

div.takeaways ul {
	padding-left: 14px;
}

div.takeaways ul li {
	font-size: 12px;
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
}

div.mainArea {
	height: 300px;
}

div.frame div#chat {
	display: none;
}

div.clearfix {
	clear: both;
}

div#deliveredTo {
	float: right;
	font-size: 8px;
}

div#chatAreaContainer {
	position: relative;
}

div#chatArea {
	height: 440px;
	overflow-y: auto;
	padding-right: 5px;
}

div#chatArea::-webkit-scrollbar  {
	width: 4px;
}

div#chatArea::-webkit-scrollbar-thumb  {
	border-radius: 2px;
	background-color: #EDEDED;
}

div#bottomFade {
	width: 100%;
	height: 75px;
	bottom: 0px;
	position: absolute;
	z-index: 100;
	background: linear-gradient(rgba(255, 255, 255, 0), #FFF);
}

div.me {
	float: right;
	padding: 5px 0px;
	max-width: 310px;
}

div.me #from {
	font-size: 10px;
	margin-bottom: 10px;
	text-align: right;
	float: right;
}

div.me #from span {
	color: #999;
	float: left;
	margin-right: 4px;
}

div.me #pointer {
	width: 10px;
	height: 10px;
	position: relative;
	float: right;
	clear: both;
	margin-bottom: -10px;
	background-color: #62029d;
    -ms-transform: matrix(0.4525,0.9616,-0.4525,0.9616,-20,-5); /* IE 9 */
    -webkit-transform: matrix(0.4525,0.9616,-0.4525,0.9616,-20,-5); /* Chrome, Safari, Opera */
    transform: matrix(0.4525,0.9616,-0.4525,0.9616,-20,-5);
}

div.me #textBody {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3;
	background-color: #62029d;
	color: #fdf8ff;
	border-radius: 8px;
	float: right;
	min-width: 100px;
	padding: 11px 15px;
	clear: both;
}

div.me div.recipients {
	font-size: 10px;
	height: 10px;
	clear: both;
	float: right;
	margin-right: 2px;
}

div.me div.recipients img {
	width: 10px;
	margin-top: 2px;
}

div.other {
	float: left;
	padding: 5px 0px;
	max-width: 310px;
}

div.other #from {
	font-size: 10px;
	margin-bottom: 10px;
}

div.other #from span {
	color: #999;	
}

div.other div.recipients {
	display: none;
}

div.other #pointer {
	width: 10px;
	height: 10px;
	position: relative;
	clear: both;
	margin-bottom: -10px;
	background-color: #d9d9d9;
    -ms-transform: matrix(0.4525,0.9616,-0.4525,0.9616,20,-5); /* IE 9 */
    -webkit-transform: matrix(0.4525,0.9616,-0.4525,0.9616,20,-5); /* Chrome, Safari, Opera */
    transform: matrix(0.4525,0.9616,-0.4525,0.9616,20,-5);
}

div.other #textBody {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3;
	background-color: #d9d9d9;
	border-radius: 8px;
	min-width: 100px;
	padding: 11px 15px;
}

div.error {
	background-color: pink;
	border-radius: 3px;
	display: none;
	margin-top: 5px;
	padding: 5px;
}

div#chromeFileWarning {
	display: none;
	background-color: pink;
}

form#userForm {
	display: none;
}

form#newMessage {
	display: none;
}

input {
	width: 100%;
	border-radius: 3px;
	padding: 5px;
	margin: 5px 0px;
	border: 1px solid #B0B0B0;
	height: 38px;
	font-size: 14px;
}

*:focus {
    outline: 0;
}

button {
	color: #fff;
	background-color: #63029C;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 0;
	text-transform: uppercase;
	vertical-align: bottom;
	border: none;
	outline: 0 none;
	padding: 10px 15px 10px 15px;
	float: left;
	margin: 2px;
}

div#userInfo {
	font-size: 14px;
	display: none;
}

span#username {
}

div.top1 {
    height:330px;
    background-color:#FFFFFF;
    overflow: hidden;
    transform:translate3d(0, 0px, 0);
    background-image:url('Sinch_Banner.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
	text-align: center;
}

div.top1 h1 {
	margin-top: 140px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
}



div.frame div#call {
	display: none;
}

div#callLog {
	font-size: 12px;
}

div#callLog #title {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 700;
}

div#callLog #stats {
	margin-left: 20px;
}

button#call.incall {
	background-color: red;
}

button#call.callwaiting {
	background-color: red;
}

button#hangup {
	background-color: red;
	border-radius: 18px

}

button#hangup.incall {
	background-color: red;
}

button#answer {
	background-color: red;
}

button#answer.callwaiting {
	background-color: #62029d;
}

form#newCall button {
	float: right;
	font-size: 45px;
	border-radius: 18px;

}
/*
video {
	width: 260px;
	height: 195px;
	margin: 10px 12px 10px 12px;
	border: 1px solid #B0B0B0;
	border-radius: 3px;
	display: none;
}

*/



