<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MadWall | Blog</title>
        <link href="{{asset('public/employer/css/animate.css')}}" rel="stylesheet">
        <link href="{{asset('public/employer/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('public/employer/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('public/employer/css/owl.carousel.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('public/employer/css/datepicker.css')}}">
        <link  href="{{asset('public/employer/css/main.css')}}" rel="stylesheet">
        <script src="{{asset('public/employer/js/jquery-1.11.3.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/owl.carousel.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/bootstrap.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/jquery.main.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/wow.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/jquery.malihu.PageScroll2id.js')}}" type="text/javascript"></script>
        <script src="{{asset('public/employer/js/moment.min.js')}}"></script>
        <script src="{{asset('public/employer/js/bootstrap-datepicker.js')}}" type="text/javascript"></script> 
        <script>
            $(document).ready(function(e) {

            $('#datepicker').datepicker({
            maxViewMode: 0,

            });
            });
        </script>
  
   </head>
   <body>
   <div class="loader-section">
  <div class="cssload-container">
    <div class="cssload-whirlpool"></div>
  </div>
</div>
<div class="wrapper">
  <div class="main"> 
    <!-- Header section -->
    <header class="header-main wow fadeIn dashboradbanner blog-head">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="logo"><a href="#"><img src="images/logo_dash.png" alt=""></a></div>
            <a href="#" class="drop-opener pull-right"> <span></span> <span></span> <em class="border"></em> </a> </div>
         <div class="col-lg-9 col-md-9 colo-sm-9"> <a href="#" class="drop-opener pull-right"> <span></span> <span></span> <em class="border"></em> </a>
            <div class="menu_bar">
              <div class="navSection">
                <div class="nav-holder" id="menu-drop">
                  <ul>
                    <li><a href="#how-jobseeker" class="_mPS2id-h">How to apply</a></li>
                    <li><a href="#how-hire" class="_mPS2id-h">How to hire</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#contact">Contact us</a></li>
                    <li><a href="blog.html" >Blog</a></li>
                    <li class="navbtn"><a href="#" data-toggle="modal" data-target="#tut_modal">Sign up</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="inner_banner_sec">
          <div class="row">
            <h1><b>Blog</b></h1>
          </div>
       </div>
      </div>
    </header>
    <div class="main_sub_sec">
      <div class="container">
        <div class="dashboard_sec about">
          <div class="white_inner_sec wow fadeInUp">
            

            <div class="blog-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                 
                  <li class="nav-item active">
                    <a class="nav-link dynamic_tabs" id="home-tab" data-toggle="tab"
                     data-value="all" href="#home" role="tab" aria-controls="home" aria-selected="true">All</a>
                  </li>
       
                  @foreach($blogCategory as $k=>$category)

                   <li class="nav-item" data-id="{{$category->_id}}">
                    <a class="nav-link dynamic_tabs" id="profile-tab"
                    data-id="{{$category->_id}}"  data-toggle="tab" href="#" 
                      role="tab" aria-controls="profile" aria-selected="false">{{ucfirst($category->name)}}</a>
                   </li>

                  @endforeach

                </ul>
                   <span class="list-view"><i class="fa fa-list"></i></span>
            </div>

            <div id="tag_container">

                @include('blogs.blog')

            </div>         
               
        </div>
      </div>
    </div>
  </div>
</div>


<div class="clearfix"></div>
<!-- footer section  -->
<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo"> <img src="images/logo.png" alt=""/> </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="footer-support-social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="footer-nav">
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Term &amp; condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-copyright"> Copyright reserved by <span>MadWall</span> </div>
      </div>
    </div>
  </div>
  <div class="modal fade signup forgot" id="automatic_hiring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title" id="myModalLabel">Forgot Password</h4>--> 
        </div>
        <div class="modal-body">
          <div class="form_signup">
            <div class="row">
              <div class="col-md-12">
                <div class="form_grp">
                  <p>Are you sureyou want to post this  job <br>
                    with <b>automatic hiring ?</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer signup_ftr ">
          <button type="submit">Hiring</button>
          <button type="submit" class="cancel_btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade signup forgot" id="manul_hiring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title" id="myModalLabel">Forgot Password</h4>--> 
        </div>
        <div class="modal-body">
          <div class="form_signup">
            <div class="row">
              <div class="col-md-12">
                <div class="form_grp">
                  <p>Are you sureyou want to post this  job <br>
                    with <b>manual hiring ?</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer signup_ftr ">
          <button type="submit">Hiring</button>
          <button type="submit" class="cancel_btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade signup forgot" id="Rehiring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Rehire for Job</h4>
        </div>
        <div class="modal-body">
          <div class="rehiring_div">
            <ul>
              <li>
                <div class="rehir_pic"><img src="images/img_rehire.jpg"  alt=""/></div>
                <div class="name_rating">
                  <p>John deo</p>
                  <div class="rating_rehire"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                  <div class="check_box_rating">
                    <input type="checkbox" id="rate_check">
                    <label for="rate_check"><i class="fa fa-check" aria-hidden="true"></i> </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="rehir_pic"><img src="images/img_rehire.jpg" alt="" /></div>
                <div class="name_rating">
                  <p>John deo</p>
                  <div class="rating_rehire"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                  <div class="check_box_rating">
                    <input type="checkbox" id="rate_check1">
                    <label for="rate_check1"><i class="fa fa-check" aria-hidden="true"></i> </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="rehir_pic"><img src="images/img_rehire.jpg"  alt=""/></div>
                <div class="name_rating">
                  <p>John deo</p>
                  <div class="rating_rehire"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                  <div class="check_box_rating">
                    <input type="checkbox" id="rate_check2">
                    <label for="rate_check2"><i class="fa fa-check" aria-hidden="true"></i> </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer signup_ftr ">
          <button type="submit">reHire</button>
        </div>
      </div>
    </div>
  </div>
  <!--forgot popup--> 
  
</footer>
<!-- footer section end --> 

<script type="text/javascript">

   wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
   

   $(document).ready(function(){

      $(".dynamic_tabs").click(function(e){


         e.preventDefault();
         
        $(".list-view .fa.fa-th-large").removeClass("fa-th-large");
        $(".list-view .fa.fa-list").removeClass("fa-list");
        $(".list-view .fa").addClass("fa-list");

         var category =$(this).attr("data-id");
         var page =1;
           getData(page,category);
      });

          
      $(document).on('click','#btn-more',function(e){
        e.preventDefault();
       //var id = $(this).data('id');
        var id = $(this).attr('data-id'); 
        var ref_this = $(".nav-tabs").find(".active");
        var category = ref_this.data("id");
     
        $("#btn-more").html("Loading....");
          $.ajax({
            url: 'load-post',
            method : "get",
            data : {id:id,category:category},
            dataType : "text",
            success : function (data){
              if(data != ''){

                $('#remove-row').remove();
                $("#load-data").append(data);
                var clName = $('.blog-class').attr('class').split(' ')[1];
                //alert(clName);
                $(".blog-content .blog-class").toggleClass(clName);
                $(".blog-content .blog-class").addClass(clName);

              }else{
                $('#btn-more').html("No Data");
              }
            }
          });
      });  


    });


    function getData(page,category){
        $.ajax(
        {
            url: '?',
            data:{page:page,category:category},
            type: "get",
            datatype: "html"
        })

        .done(function(data)
        {
           $("#tag_container").empty().html(data);
            location.hash = page;
        })

        .fail(function(jqXHR, ajaxOptions, thrownError)
        {
            alert('No response from server');
        });
    }


</script>
   </body>
</html>

