@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
 body
 {
	 margin:0;
	 padding:0;
	font-family: 'Roboto', sans-serif;
 }
  .wow:first-child {
      visibility: hidden;
    }
 *{outline:none}
 .wrapper{   float: left;
    overflow: hidden;
    position: relative;
    width: 100%;}
 .main
 {
	 width:100%;
	 float:left;
 }
 .hero-section
 {
	 float:left;
	 width:100%;
	
	 position:relative;

}
.paddingtocontent{
  padding: 10px;
}
.hero-section-img{ width:100%; float:left; margin:0 0 55px; min-height:520px; background:url(../images/hero-img.jpg) no-repeat left top; background-size:cover;}
.hero-section-img img{ width:100%;}
.hero-section-text{ width:100%; float:left;   font-size: 33px; padding:15px 0; font-weight:300;
  color: rgb(33, 33, 33);
  line-height: 50px;}
  .hero-section-text span{ font-weight:500}
 header.header-main
  {
	  float:left;
	  width:100%;
	   padding: 15px 0; border-bottom:1px solid #d5d5d5;
  }
  
   header.header-main.header-scroll{ padding:5px 0}
  
  .logo
  {
	  float:left;
	  width:100%;
  }
  .menu_bar
  {
	  float:right;
	  width:auto;
  }
    .menu_bar ul
	{
		float:left;
		padding:0; margin:0;
	}
	.menu_bar ul li
	{
		display:inline-block; vertical-align:top;
		list-style:none;
		padding:0px 3px; position:relative;
		transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; 
	}
	.menu_bar ul li a:before{ width:0; height:3px; background:#0b4cc4; content:""; position:absolute; bottom:0; left:0;
	transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
	.menu_bar ul li a:hover:before, .menu_bar ul li.active a:before{width:100%}
	.menu_bar ul li.navbtn a:before{ display:none}
	 .menu_bar ul li a
	 { position:relative;
		 display:inline-block;
		 color:#171717;
		 font-size:15px; text-decoration:none; line-height:20px; padding:10px 20px;
		 
	 }
	 
	 a:hover
	 {
		 text-decoration:none;
	 }
	
.hero-box-block{ width:400px; float:left; position:absolute; top:-70px; right:0; max-width:100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.36);
 
}
	
.hero-box-block-top{ width:100%; padding:17px 10px; float:left; background:#0b4cc4; text-align:center}
.hero-box-block-text{ width:100%; float:left; padding:20px 10px 15px; 
  font-size: 34px;
  font-weight:300;
  color: rgb(254, 254, 254);
  line-height: 46px;
  text-align: center;

}
.hero-box-block-text span{ font-weight:500}
a.store-play-link{ border: 1px solid #fff; text-decoration:none;
    border-radius: 45px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 25px;
    padding: 10px 25px 10px 62px;
    position: relative;
    text-align: left;
    width: auto;
	max-width:100%;
	transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
a.store-play-link span{ font-size:20px; font-weight:500; display:block}
a.store-play-link i{ position:absolute; top:8px; left:14px; font-size:36px; line-height:40px; color:#fff;  transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
a.store-play-link:hover{ border: 1px solid #fff; background:#fff; color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;  }
a.store-play-link:hover i{ color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }

.hero-box-block-bot{ width:100%; float:left; background:#fff; }
.hero-box-block-title{ width:100%; padding:12px 25px; float:left; text-align:center;background-color: rgb(242, 242, 242);
  font-size: 26px; font-weight:500;
  color: rgb(33, 33, 33);
  line-height: 30px;
}

.hero-box-block-form{ width:100%; padding:15px 20px; float:left;}
.fieldset-form{ width:100%; float:left;  }
.fieldset-field{ width:100%; float:left; margin:10px 0; }
.field-icon{ position:relative}
.fieldset-field input[type='text'], .fieldset-field input[type='password'], .fieldset-field input[type='email'], .fieldset-field input[type='tel']{ width:100%; padding:15px;
  border:1px solid rgb(197, 197, 197);
  border-radius: 5px;
  background-color:#fff;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(33, 33, 33);
  line-height: 22px;
  text-align: left;

}
.fieldset-field.field-icon input[type='text'], .fieldset-field.field-icon input[type='password'], .fieldset-field.field-icon input[type='email'], .fieldset-field.field-icon input[type='tel']{padding-left:40px;}
.fieldset-field input[type='text']:focus, .fieldset-field input[type='password']:focus, .fieldset-field input[type='email']:focus, .fieldset-field input[type='tel']:focus{ border-color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
.fieldset-field input[type='text']:focus + .field-icon-set i, .fieldset-field input[type='password']:focus + .field-icon-set i, .fieldset-field input[type='email']:focus + .field-icon-set i, .fieldset-field input[type='tel']:focus + .field-icon-set i{ color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
.field-icon-set{ width:40px; height:55px; position:absolute; top:0px; left:5px; text-align:center}
.field-icon-set i{ font-size:20px; line-height:50px; color:#c5c5c5; text-align:center}
button.login-btn-home{ width:100%; padding:15px 10px; background-color: rgb(11, 76, 196); font-size: 20px; color: rgb(254, 254, 254); text-transform: uppercase; line-height: 30px; text-align: center; border:0; font-weight:500;box-shadow:4px 3px 0 #639aff;-webkit-box-shadow:4px 3px 0 #639aff;-moz-box-shadow:4px 3px 0 #639aff; position:relative; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;}
button.login-btn-home:before{ content:""; position:absolute; top:0; left:0; border:2px solid #0b4cc4; border-width:2px 0px 2px 2px; width:0%; height:100%; opacity:0; transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-webkit-transition: all 0.6s ease-in-out;}
button.login-btn-home:after{ content:""; position:absolute; top:0; right:0; border:2px solid #0b4cc4; border-width:2px 2px 2px 0; width:0%; opacity:0; height:100%; transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-webkit-transition: all 0.6s ease-in-out;}
button.login-btn-home:hover{ background:none; color:#0b4cc4;  transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
box-shadow:0px 0px 0 #639aff;-webkit-box-shadow:0px 0px 0 #639aff;-moz-box-shadow:0px 0px 0 #639aff;
}
button.login-btn-home:hover:before{ width:50%; opacity:1}
button.login-btn-home:hover:after{ width:50%; opacity:1}

.fieldlinklogin a{ font-size:15px; line-height:18px; color:#313131}
.loginregiteruserlink{ width:100%; float:left; padding:8px 0 4px; font-size:14px; line-height:22px; text-align:center; color:#313131; }
.loginregiteruserlink a{ color:rgb(11, 76, 196); text-decoration:none; font-weight:500}
.hero-box-block-main{ width:100%; position:relative; float:left;}
.menu_bar ul li.navbtn a{color: #fff; background:#0b4cc4; position:relative; overflow:hidden;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none; transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
}
.menu_bar ul li.navbtn a:before{ content:""; position:absolute; top:0; left:0; border:2px solid #0b4cc4; border-width:2px 0px 2px 2px; width:0%; height:100%; opacity:0; transition: all 0.6s ease-in-out; background:none; display:inline-block;
-moz-transition: all 0.6s ease-in-out;
-webkit-transition: all 0.6s ease-in-out;}
.menu_bar ul li.navbtn a:after{ content:""; position:absolute; top:0; right:0; border:2px solid #0b4cc4; border-width:2px 2px 2px 0; width:0%; opacity:0; height:100%; transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-webkit-transition: all 0.6s ease-in-out;}
.menu_bar ul li.navbtn a:hover{ background:none; color:#0b4cc4;  transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;}
.menu_bar ul li.navbtn a:hover:before{ width:50%; opacity:1}
.menu_bar ul li.navbtn a:hover:after{ width:50%; opacity:1}
/*--------------------- nav -------------------*/


  #nav .dropdown {
    float: right;
    margin: 0 0 0 26px; }
  #nav .btn-default {
    border: 0;
    padding: 10px;
    min-width: 161px;
    font-weight: 400;
    margin: -5px 0 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px; }
    @media (max-width: 1200px) {
      #nav .btn-default {
        margin: -2px 0 0;
        min-width: inherit; } }
    @media (max-width: 1024px) {
      #nav .btn-default {
        margin: 0; } }
    #nav .btn-default:before {
      border-radius: 2px; }
    #nav .btn-default:focus:before, #nav .btn-default:hover:before {
      border-color: #f97707;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      position: absolute; }
  #nav .drop-links {
    top: 100%;
    opacity: 0;
    right: -18px;
    max-width: 200px;
    visibility: hidden;
    border-radius: 2px;
    position: absolute;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    #nav .drop-links li {
      display: block; }
    #nav .drop-links a {
      display: block; }
  @media (min-width: 1025px) {
    #nav .show-mobile {
      display: none; } }
  #nav .btns-area {
    margin: 6px 0 0; }

/* drop-opener */
.drop-opener {
  display: none;
  z-index: 1000;
  overflow: hidden;
  position: absolute; top:10px; right:0;
  margin: 8px 0 0 26px;
  width: 29px;
  height: 29px;
  background: url(../images/none.gif); }
  @media (max-width: 767px) {
    .drop-opener {
      display: block;
      margin: 4px 15px 0 10px; } }
  .drop-opener span, .drop-opener:after, .drop-opener:before {
    top: 16px;
    left: 0;
    right: 0;
    height: 3px;
    background: #0B4CC4 ;
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .drop-opener span + span {
    top: 8px; }
  .drop-opener:after, .drop-opener:before {
    top: 24px;
    content: ''; }
  .drop-opener:after {
    top: 0; }
  .drop-opener .border {
    top: -2px;
    left: 0;
    position: absolute;
    border: solid #fff;
    border-width: 0 3px;
    width: 100%;
    height: 0;
	display:none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .nav-active .drop-opener .border {
    height: 100%; }
  .nav-active .drop-opener span {
    top: 12px;
    left: 3px;
    right: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .nav-active .drop-opener span + span {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (max-width: 767px) {
  .nav-holder {
    top: 0;
    bottom: 0;
    z-index: 500;
    width: 200px;
    right: -200px;
    position: fixed;
    background:#282828 ;
    overflow: hidden; }
    .nav-holder ul {
      height: 100%;
      overflow: auto;
      border-bottom: 10px solid transparent; }
    .nav-holder .btns-area {
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 200px;
      padding: 10px;
      background: #222;
      text-align: center;
      position: absolute; } 
	  
	  .headerNavMain .nav-holder > ul > li:hover a, .headerNavMain > ul > li:hover a{ color:#DEAF25;}
	 
	  .menu_bar ul li{ width:100%; padding:5px 0; margin:5px 0; }
	   .menu_bar ul li a{ padding:10px 20px; color:#fff; width:100%;} 
	 
	  .navbtn a{  width:100%; display:block; text-align:center; padding:15px 0}
	  }

/* desktop nav */
@media (min-width: 768px) {
  .nav-active #nav .drop-links {
    opacity: 1;
    margin: 15px 0 0;
    visibility: visible; }
    .nav-active #nav .drop-links:after, .nav-active #nav .drop-links:before {
      opacity: 1; } }
	  
	 
.navSection{ width:auto; float:right; margin:15px 0 0}	
/*----------- nav ends --------------*/

.fieldset-form{ width:100%; float:left;  }
.fieldset-field{ width:100%; float:left; margin:10px 0; }
.field-icon{ position:relative}
.fieldset-field input[type='text'], .fieldset-field input[type='password'], .fieldset-field input[type='email'], .fieldset-field input[type='tel']{ width:100%; padding:15px;
  border:1px solid rgb(197, 197, 197);
  border-radius: 5px;
  background-color:#fff;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(33, 33, 33);
  line-height: 22px;
  text-align: left;

}
.fieldset-field.field-icon input[type='text'], .fieldset-field.field-icon input[type='password'], .fieldset-field.field-icon input[type='email'], .fieldset-field.field-icon input[type='tel']{padding-left:40px;}
.fieldset-field input[type='text']:focus, .fieldset-field input[type='password']:focus, .fieldset-field input[type='email']:focus, .fieldset-field input[type='tel']:focus{ border-color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
.fieldset-field input[type='text']:focus + .field-icon-set i, .fieldset-field input[type='password']:focus + .field-icon-set i, .fieldset-field input[type='email']:focus + .field-icon-set i, .fieldset-field input[type='tel']:focus + .field-icon-set i{ color:#0b4cc4; transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; }
.field-icon-set{ width:40px; height:55px; position:absolute; top:0px; left:5px; text-align:center}
.field-icon-set i{ font-size:20px; line-height:50px; color:#c5c5c5; text-align:center}


.container{ width:1170px; max-width:100%}
.mobile-slide-screen-main{ width:100%; float:left; position:relative}
.mobile-slide-screen-main img{ max-width:100%;}
.mobile-slide-screen-1{}
.mobile-slide-screen-2{ position:absolute; top:0; right:0;}
.mobile-slide-screen-3{position:absolute; top:0; right:0;}
.jobseeker-step-main{ width:100%; float:left; padding:30px 0;}
.jobseeker-step-main ul{ width:100%; float:left; margin:0; padding:0;}
.jobseeker-step-main ul li{ width:100%; float:left; margin:15px 0; padding:0 0 0 95px; list-style:none; position:relative}
.jobseeker-step-count{ width:64px; height:64px; border-radius:50%; background:#e9e9e9; line-height:64px; text-align:center; position:absolute; top:10px; left:0; color:#212121; font-weight:bold; font-size:32px; }
.jobseeker-step-title{ width:100%; float:left; font-size: 25px; color: #1c1c1c; line-height: 30px; font-weight:300; margin:10px 0 20px; }
.jobseeker-step-title span{ color:#0b4cc4; font-weight:700; display:block;}
.jobseeker-step-text{ width:100%; float:left; padding:0 0 15px;font-size: 14px; color: rgb(45, 45, 45); line-height:22px;}
.hire-step-section{ width:100%; float:left; padding:20px 0 0; margin-bottom:15px; background:#fbfbfb; border-bottom:1px solid #d5d5d5}
.section-title{ width:100%; float:left; padding:10px 0 20px; margin-bottom:35px; font-size:30px; line-height:40px; text-align:center; font-weight:300; color:#1c1c1c; position:relative}
.section-title span{ color:#0b4cc4; font-weight:700;}
.section-title:before{ width:110px; height:2px; background:#0b4cc4; position:absolute; bottom:0; left:50%; content:"";
transform:translate(-50%, 0) }
.hire-step-inner{ width:100%; float:left; padding:15px;}
.hire-step-title{ width:100%; float:left; padding:15px 0;
  font-size: 25px; font-weight:500;
  color: rgb(11, 76, 196);
  line-height: 32px;
  text-align: center;
 
}
.hire-step-text{ width:100%; float:left;
  font-size: 14px;
  color: rgb(45, 45, 45);
  line-height: 25px;
  text-align: center;

}
.hire-sction-slide{ width:100%; float:left; padding:60px 0 0;  text-align:center;}
.hire-sction-slide img{ max-width:100%;}
.clients-logo-section{ width:100%; float:left; padding:25px 0;}
.clients-logo-list-main{ width:100%; float:left; padding:25px 0;}
.clients-logo-inner{ width:100%; text-align:center; float:left; margin-top:50px;}
footer.footer-main{ width:100%; float:left; padding:20px 0; border-top:1px solid #d5d5d5;}
.footer-logo{ width:100%; float:left}
.footer-support-social{ width:100%;float:left;}
.footer-support-social ul{ width:auto; float:right; margin:0; padding:0; }
.footer-support-social ul li{ width:auto; float:left; margin:0; padding:3px; list-style:none; }
.footer-support-social ul li a{ width:36px; height:36px; background:#0b4cc4;  float:left; color:#fff; font-size:22px; line-height:36px; text-align:center;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;}
.footer-support-social ul li a i{ line-height:36px; }

.footer-nav{ width:100%;float:left;}
.footer-nav ul{ width:auto; float:right; margin:0; padding:0;  }
.footer-nav ul li{ width:auto; float:left; margin:0; padding:10px 16px; list-style:none; }
.footer-nav ul li:last-child{ padding-right:0}
.footer-nav ul li a{ font-size:14px; line-height:24px; color:#3b3b3b; text-align:center; text-decoration:none;}
.footer-copyright{ width:100%; float:left;  text-align:right; font-size:14px; line-height:24px; color:#3b3b3b; }
.footer-copyright span{ color:#0b4cc4; font-weight:500}


.owl-prev, .owl-next{ width:35px; height:35px; padding:0; display:inline-block; line-height:35px;border-radius:50%; background:#0b4cc4; margin:3px;  position:relative; line-height:35px; color:#fff; font-size:24px;
}
.header-main.active{ top:0; left:0; position:fixed; z-index:999;  
  transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out; }

.header-scroll{ width:100%; float:left; top:0; left:0; position:fixed; z-index:999; background:#fff;
transform:translate(0,-200%);
-webkit-transform:translate(0,-200%);
-moz-transform:translate(0,-200%); 
  transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out; 
box-shadow:5px 5px 6px rgba(0, 0, 0, 0.34);
-moz-box-shadow:5px 5px 6px rgba(0, 0, 0, 0.34);
-webkit-box-shadow:5px 5px 6px rgba(0, 0, 0, 0.34) }

.header-scroll.active{transform:translate(0%,0);
-webkit-transform:translate(0%,0);
-moz-transform:translate(0%,0);
  transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;} 
.header-scroll .logo img{ width:70px; margin-top:5px;}
.header-scroll .navSection{ margin:5px 0 0}

.menu_bar ul li a.mPS2id-highlight:before{width:100%;
}


/*
.menu_bar ul li a.mPS2id-clicked:before{width:100%;
 }
*/
/*---- loader ----*/

.cssload-container{
	position:absolute; top:50%; left:50%; 
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(255,255,255);
	border-left-color: rgb(11,76,196);
	border-radius: 2123px;
		-o-border-radius: 2123px;
		-ms-border-radius: 2123px;
		-webkit-border-radius: 2123px;
		-moz-border-radius: 2123px;
}

.cssload-whirlpool {
	margin: -53px 0 0 -53px;
	height: 106px;
	width: 106px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -49px 0 0 -49px;
	height: 94px;
	width: 94px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -62px 0 0 -62px;
	height: 119px;
	width: 119px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}


@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

.loader-section{ width:100%; height:100%; float:left; position:fixed; background:rgba(0,0,0,0.9); top:0; left:0; z-index:999;}
.page-loaded .loader-section{ display:none}
/*---- loader end ---*/

.owl-nav{ width:100%; float:left; text-align:center;}
.owl-prev, .owl-next{ width:auto; display:inline-block; padding:10px;}

@media only screen and (max-width:800px){
	
	.hero-section-text{  padding:15px 0 72px ;}
	.header-scroll{ display:none}
	}
	
@media only screen and (max-width:640px)
{
	.footer-logo{ text-align:center}
	.footer-support-social
	{
		margin:20px 0 10px; text-align:center
	}
	.footer-support-social ul
	{
		display:inline-block;
		text-align:center;
		float:none;
	}
	.footer-nav{ text-align:center}
	.footer-nav ul{display:inline-block;
		text-align:center;
		float:none;}
	.footer-nav ul li{ padding:10px 8px}
	.footer-copyright{ text-align:center}
	.hero-section-text{ font-size:24px; line-height:34px; padding:15px 0 72px;}
}
.signup h4
{
	font-size:30px;
	color:#212121;
}
.signup .modal-header {
    padding: 0;
}
.signup h4 {
    padding: 10px 10px 0;
}
.close:hover, .close:focus
{
	opacity:1;
	color:#fff;
}
.modal-content
{
	overflow:hidden;
	border-radius:0;
}
button.close {
    background: #0b4cc4 none repeat scroll 0 0;
    color: #fff;
    font-size: 50px;
    font-weight: lighter;
    opacity: 1;
    overflow: hidden;
    padding: 0 15px 10px;
}
.modal-header
{
	border-bottom:0;
	 min-height: 50px;
}
.form_signup
{
	float:left;
	width:100%;
	border-bottom:1px solid #c5c5c5;padding-bottom: 15px;
    padding-top: 15px;
}
.form_grp {
    float: left;
	
    margin-bottom: 20px;
    width: 100%;
}
.modal-body {
    border: medium none;
    float: left;
    width: 100%;
	padding-bottom:0;
}
.modal-footer {
    border: medium none;
    float: left;
    width: 100%;
}
.form_grp > input[type=text] {
    float: left;
    padding: 15px;
    width: 100%;
	border-radius:5px;
	color:#212121;
	border:1px solid #bababa;
	font-size:16px;
}
.form_grp > textarea {
    float: left;
    padding: 15px;
    width: 100%;
	border-radius:5px;
	color:#212121;
	border:1px solid #bababa;
	font-size:16px;
	resize:none;
}
.form_grp > input[type=text]:focus
{
	border:1px solid #0b4cc4;
}
.form_grp > input[type=password]:focus
{
	border:1px solid #0b4cc4;
}
.form_grp > input[type=password] {
    float: left;
    padding: 15px;
    width: 100%;
	border-radius:5px;
	color:#212121;
	border:1px solid #bababa;
}
.signup .modal-dialog
{
	width:800px;
	max-width:100%;
}#automatic_hiring .modal-footer.signup_ftr button {
    margin: 0 10px;
    padding: 16px;
    width: auto;
}
#manul_hiring .modal-footer.signup_ftr button {
    margin: 0 10px;
    padding: 16px;
    width: auto;
}
.signup.forgot .modal-dialog {
    width: 500px;
	max-width:100%;
}
/* custom select styles */
/*--- custom select----*/
.jcf-select {
  color: #a4a4a4;
  cursor: pointer;
  display: block;
  border:1px solid #bababa; border-radius:4px;
  position: relative;
  background: #fff;
  padding:15px;
}

.jcf-select.jcf-disabled{ opacity:0.5}


.jcf-select.jcf-drop-active:before {
/*  content: "\f0d7";
  font-family:'FontAwesome';*/
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  cursor: pointer;
  color: #a4a4a4;
  display: block;
  
  cursor: default;
  overflow: hidden;
  
  white-space: nowrap;
  margin:0;
  text-overflow: ellipsis;

  font-size: 16px;

  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.jcf-select .jcf-select-opener {
  cursor: pointer;
  position: absolute;
  text-align: center;
  width: 20px;
  bottom: 0;
  right: 0;
  top: 0;
  color: #bababa;
  line-height: 50px;
  font-size:25px;
  padding-right:30px;
}
/*
.jcf-select .jcf-select-opener:before {
   content: "\e910";
  font-family: 'icomoon'; font-size:5px; color:#3b3b3b;
}
.jcf-select.jcf-drop-active .jcf-select-opener:before {
   content: "\e910";
  font-family: 'icomoon'; font-size:5px; color:#3b3b3b;
}*/
.jcf-select .jcf-select-opener:before {
  font-family: 'FontAwesome';
  content:"\f107";
}
.jcf-select.jcf-drop-active .jcf-select-opener:before {
  font-family: 'FontAwesome';
  content: "\f107";
}

.jcf-select.jcf-drop-active{ border:1px solid #0b4cc4; }
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

.jcf-select-default {
  background: #fff;
  border: solid 1px #cbcdce;
}

.jcf-select-default.jcf-focus {
  border-color: #5dda78;
}

.jcf-select-default.jcf-focus .jcf-select-text {
  color: #6e757c;
}

.jcf-select-default .jcf-select-text {
  color: #a3a8ad;
  margin: 0 25px 0 15px;
  text-transform: none;
  font-size: 16px;
  line-height: 34px;
}

.jcf-select-default .jcf-select-opener {
  width: 19px;
}

.jcf-select-default .jcf-select-opener:before {
  display: none;
}

.jcf-select-default .jcf-select-opener:after {
  left: 0;
  top: 50%;
  content: '';
  margin: -3px 0 0;
  content: '';
  position: absolute;
  border-style: solid dashed;
  border-color: transparent;
  border-width: 6px 5px 0;
  border-top-color: #84888c;
}

.jcf-select-default:before {
  display: none;
}

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select-drop .jcf-select-drop-content {
 /* border: 1px solid #c5c5c5;*/
  border:1px solid #0b4cc4; box-shadow:0 4px 8px rgba(0, 0, 0, 0.13)}

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%;
}

.jcf-list .jcf-list-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  padding: 0;
  display: block;
  overflow: hidden;
}

.jcf-list ul li:before {
  display: none;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 10px; font-size:15px;
  color: #656565;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #0b4cc4;
  color: #fff; font-size:15px;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* custom checkbox styles */
.jcf-checkbox {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
 
  position: relative;
  background: #fff;
  width: 19px;
  height: 19px;
  border: 1px solid #939393;
  border-radius:0px;
}

.jcf-checkbox.jcf-checked{   border: 1px solid #383838;}

.jcf-checkbox span {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-indent: 0;
  width: 0;
  height: 100%; 
  font-size: 13px; text-align:center;
  line-height: 16px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.jcf-checkbox span:before {
  font-family:'FontAwesome';
  content: "\f00c"; color:#03a335;
}

.jcf-checkbox span:befoer {
  cursor: pointer;
}

.jcf-checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.jcf-checkbox.jcf-checked span {
  width: 100%;
}

/* custom radio styles */
.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  width: 20px;
  height: 20px;
 border: 1px solid #939393;
 background:#fff;
  border-radius: 15px;
  margin: 0 3px 0 0;

}

.jcf-radio span {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  
  border-radius: 100%;
}

.jcf-radio input[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.jcf-radio.jcf-checked span {
  display: block;
  background:#383838;
}

.jcf-radio.jcf-checked {
	border: 1px solid #939393;
 background:#fff;
}

/*-----------------*/

/*----- select end--------*/

.form_grp label
{
	font-size:16px;
	color:#212121;
	margin-left:10px;
	font-weight:normal;
	line-height:15px;
}
.form_grp label a
{
	color:#0b4cc4;
}
.form_signup:last-child
{
	border:none;
}
.modal-footer.signup_ftr
{
	padding-bottom:0;
	padding-top:0;
	text-align:center;margin-bottom: 25px;
}
.modal-footer.signup_ftr button
{
display: inline-block;
    padding: 12px 30px;
    text-align: center;
	font-size:20px;
	font-weight:500;
	color:#fff;
	background:#03a335;
	border-radius:5px;
	text-transform:uppercase;
	border:none;
	min-width:150px;
	
}
.datepicker
{
	margin-top:0;
}

.forgot .modal-footer.signup_ftr > button {
    width: 100%;
}
.dashboradbanner
{
	float:left;
	width:100%;
	background:url(../images/dashboard_banner.png);
}
.notification_div
{
	float:right;
	width:auto;
}
.bell_div
{
	float:right;
	color:#fff;
	position:relative;
	line-height:45px;
}
.bell_div span
{
	width:15px;
	height:15px;
	border-radius:50%;
	line-height:15px;
	font-size:12px;
	right:-5px;
	top:0;
color:#fff;
background:#d82323;
text-align:center;
position:absolute;
}
.bell_div a
{
	color:#fff;
}
.bell_div i
{
	font-size:22px;
}
.dropdown-menu
{
	right:0;
	left:auto;
	padding:0px;
	min-width:220px;
}

.dropdown-menu:after{
    content: '';
    position: absolute;
    right: 10px;
    top:-10px;
    width: 0;
    height: 0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 10px solid #fff;
    clear: both;
}
.dropdown-menu.profile_sec_menu
{
	min-width:150px;
}
ul.dropdown-menu  li
{
	width:100%;
	float:left;
	color:#3b3b3b;
	font-size:13px;
	line-height:15px;
	border-bottom:1px solid #e9e9e9;
	padding:8px 15px;
}
ul.dropdown-menu  li .time_noti
{
	font-size:12px;
	color:#b0b0b0;
	float:left;
	width:100%;
}
.profile_pic_name
{
	float:right;
	width:auto;
	color:#fff;
	font-size:16px;
	margin-right:30px;
	line-height:45px;
}
.name_of_profile
{
	float:left;
	width:40px;
	height:40px;
	border:1px solid #fff;
	border-radius:50%;
	overflow:hidden;
	margin-left:10px;
}
.drop_profile
{
	float:left;
	margin-left:10px;
}
.company_name
{
	float:left;
}
.drop_profile > a {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.inner_banner_sec
{
	float:left;
	width:100%;
	position:relative;
}
.inner_banner_sec .menu_bar {
    float: left;
    width: auto;
}
.inner_banner_sec .menu_bar ul li a
{
	color:#fff;
}
.inner_banner_sec h1
{
	float:left;
	width:100%;
	color:#fff;
	font-weight:lighter;
	padding:15px;
  text-shadow: 2.571px 3.064px 9px rgba(0, 0, 0, 0.5);
}
.post_a_job {
    background: #0b4cc4 none repeat scroll 0 0;
    border-radius: 50px;
    bottom: -31px;
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 22px;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}
.post_a_job span
{
	width:40px;
	height:40px;
	display:inline-block;
	text-align:center;
	line-height:37px;
	color:#0b4cc4;
	font-size:50px;
	font-weight:lighter;
	background:#fff;
	border-radius:50%;
	
}
.wrapper
{
	overflow:visible;
}
.text_post_btn {
    color: #fff;
    float: right;
    line-height:40px;
    margin-left: 10px;
}
.dashboard_sec
{
	float:left;
	width:100%;
}
.white_inner_sec
{
	float:left;
	width:100%;
}
.main_sub_sec
{
	background:#fafafa;
	float:left;
	width:100%;
	padding-bottom:20px;
}
.white_inner_sec
{
	float:left;
	width:100%;
  border-radius: 5px;
  box-shadow: 0.174px 1.992px 5px 0px rgba(91, 91, 91, 0.17);
  padding:15px;
  margin-top:15px;
  background:#fff;

}
.search_input
{
	float:left;
	width:30%;
	position: relative;
}
.search_input input[type=text]
{
	width:100%;
	float:left;
  border:1px solid rgb(233, 233, 233);
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px 0px rgba(214, 214, 214, 0.57);
 padding: 10px 34px 10px 10px;

}
header.header-main.dashboradbanner
{
	 padding: 15px 0 5px;
}
.search_input > span {
    color: #717171;
    font-size: 22px;
    font-weight: lighter;
    line-height: 40px;
    position: absolute;
    right: 10px;
	font-weight:lighter;
}
.category_input input[type=text]
{
	width:100%;
	float:left;
  border:1px solid rgb(233, 233, 233);
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px 0px rgba(214, 214, 214, 0.57);
  padding:10px;

}
.category_input > span {
    color: #717171;
    font-size: 22px;
    font-weight: lighter;
    line-height: 40px;
    position: absolute;
    right: 10px;
	font-weight:lighter;
}
.category_input
{
	float:left;
	width:22%;
	position: relative;
	padding-left:20px;
}
.filter_reset_div
{
	float:left;
	width:26%;
	padding-left:20px;
}
.filter_reset_div button {
    background: #049f34 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 15px;
    margin: 0 2%;
    padding: 10px 0;
    text-align: center;
    width: 46%;
}
.filter_reset_div button.reset {
    background: #d7d7d7 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #434343;
    font-size: 15px;

    text-align: center;
}
.table_dashboard
{
	float:left;
	width:100%;
}
.number_list
{
	float:left;
	width:100%;
	color:#212121;
	font-size:18px;
	margin-top:20px;
	margin-bottom:20px;
}
.table_dashboard .white_inner_sec {
    margin-top: 0;
}
.table_dashboard table
{
	font-size:14px;
	
	
}
.table_dashboard table th
{
	
	padding:18px 5px;
}

.greycolor
{
	background:#f0f0f0;
}
.table_dashboard table tr
{
	border-bottom:1px solid #d8d8d8;
	padding:10px;
}
.color_orange
{
	color:#ff7519;
}
.color_green
{
	color:#069c35;
}
.table_dashboard table td a
{
	text-align:center;
	width:100%;
	display:inline-block;
	color:#3b3b3b;
}
.table_dashboard table td {
    padding: 15px 10px;
  
}
.job_detail_sec
{
	float:left;
	width:100%;
	border-bottom:1px solid #e0e0e0;
	padding-bottom:20px;
}
.job_detail_left_sec
{
	float:left;
	width:100%;
}
.job_detail_left_sec h2
{
	float:left;
	width:100%;
	text-align:left;
	color:#3b3b3b;
	font-size:30px;
}
span.job_time
{
	float:left;
	width:100%;
	color:#0b4cc4;
	font-size:14px;
	font-weight:500;
}
.job_detail_left_sec p
{
	float:left;
	width:100%;
	font-size:14px;
	color:#3b3b3b;
	line-height:24px;
	text-align:justify;
	margin-top:10px;
}
.job_time_loc
{
	float:left;
	width:100%;
	padding:10px;
	background:#f7f7f7;
	position:relative;
}
.location_sec
{
	float:left;
	width:50%;
	font-size:14px;
	    margin-bottom: 3px;
	color:#3b3b3b;
	 line-height: 30px;
}
.location_sec span {
    color: #0b4cc4;
    float: left;
    font-size: 20px;
    margin-right: 7px;
    width: 20px;
}
.jobtag {
    background: #0b4cc4 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px;
    padding: 0 5px;
	margin-top:5px;
}
.text_job
{
	float:left;
}
.hours_working {
    background: #069c35 none repeat scroll 0 0;
    border-radius: 21px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 2px 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: auto;
}
.job_detail_table
{
	float:left;
	width:100%;
}
.jobdetailsearch {
    float: left;
    width: 100%;
}
.jobdetailsearch .search_input {
    margin-top: 20px;
    width: 100%;
}
.table_job_detail
{
	float:left;
	width:100%;
}
.candi_img {
    border: 1px solid #a1a1a1;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.name_candi
{
	float:left;
	margin-left:10px;
	line-height:50px;
	font-weight:bold;
}
.color_red
{
	color:#f60f0f;
}
.color_green
{
	color:#079935;
}
.table_dashboard table td.actions a {
    float: none;
    font-size: 17px;
    padding: 0 10px;
    text-align: center;
    width: auto;
}
.buttons
{
	float:right;
	width:auto;
	padding:10px 0;
	padding-top:20px;
}
.buttons button
{
 padding: 10px 30px;
	font-size:16px;
	text-align:center;
	border-radius:5px;
	border:none;
	float:left;
	background:#079835;
	color:#fff;
	margin-left:20px;
	font-weight:500;
}
.buttons button.delete
{
	background:#a1a1a1;
}
.calender_div
{
	float:left;
	width:100%;
	margin-top:20px;
}
.calender_div #datepicker
{
	border:1px solid #cccccc;
}
.calender_div .datepicker {
    padding: 0;
	text-transform:uppercase !important;
}
.datepicker::before
{
	display:none;
}
.datepicker td.active, .datepicker td.active:hover
{
	width:32px;
	height:32px;
	display:inline-block;
	background:#0b4cc4;
}
th.prev
{
	background:#0b4cc4;
	color:#fff !important;
	  border-radius: 0;
    padding: 10px !important;
	font-size:25px !important;
}
th.datepicker-switch
{	background:#0b4cc4;
	color:#fff !important;
	  border-radius: 0;
    padding: 10px !important;
	font-size:18px !important;
}
th.next
{
		background:#0b4cc4;
color:#fff !important;
	  border-radius: 0;
    padding: 10px !important;
	font-size:25px !important;
}
.field_forms
{
	float:left;
	width:100%;
	margin-bottom:15px;
}
.field_forms label
{
	float:left;
	width:100%;
	color:#3b3b3b;
	font-size:16px;
	font-weight:500;
}
.field_forms input[type=text]
{
	width:100%;
	border:1px solid #bababa;
	border-radius:5px;
	padding:10px;
}
.field_forms textarea
{
	width:100%;
	border:1px solid #bababa;
	border-radius:5px;
	padding:10px;
	min-height: 100px;
	resize:none;
}
.field_forms .jcf-select {
    padding: 10px;
}
.label_form
{
	float:left;
	width:100%;
}
.form_inputs
{
	float:left;
	width:100%;
}
.form_inputs .jcf-select .jcf-select-text
{
	font-size:inherit;
}
.form_inputs .jcf-select .jcf-select-opener
{
	line-height:38px;
}
.date_time_div_post_job
{
	float:left;
	width:100%;
	border-top:1px solid #e0e0e0;
	margin-top:10px;
	padding-top: 20px;
}
.date_time_div_post_job .calender_div {
    float: left;
    margin-bottom: 20px;
    width: 80%;
}
.date_time_div_post_job .buttons {
    float: right;
    padding: 10px 0;
    width: auto;
}
#automatic_hiring p
{
	text-align:center;
	display:inline-block;
	font-size:22px;
	margin-top:0;
	width:100%;
}
#manul_hiring p
{
	text-align:center;
	display:inline-block;
	font-size:22px;
	margin-top:0;
	width:100%;
}
#manul_hiring .modal-body
{
	padding:0;
}
#automatic_hiring .modal-body
{
	padding:0;
}
#automatic_hiring .form_signup
{
	padding:0;
}
#automatic_hiring .modal-footer.signup_ftr button
{
	width:auto;
margin: 0 10px;
}
#manul_hiring .modal-footer.signup_ftr button
{
	width:auto;
margin: 0 10px;
}
#Rehiring .modal-footer.signup_ftr button
{
	width:auto;

}
#automatic_hiring .modal-footer.signup_ftr button.cancel_btn
{
	background:#a1a1a1;
	color:#212121;
}
#manul_hiring .modal-footer.signup_ftr button.cancel_btn
{
	background:#a1a1a1;
	color:#212121;
}
.rehiring_div
{
	float:left;
	width:100%;
}
.rehir_pic
{
	float:left;
	width:59px;
	height:59px;
	border:1px solid #d8d8d8;
}
.rehiring_div ul
{
	width:100%;
	padding:0;
	float:left;
}
#rehire_fr_job .name_rating p {
    line-height: 30px;
    padding-left: 10px;
    position: static;
}
#rehire_fr_job .rating_rehire{
	padding-left:10px;
}
.rehiring_div li
{
	width:100%;
	border-bottom:1px solid #e1e1e1;
	list-style:none;
	display:inline-block;
	padding-bottom:20px;
	position:relative;
	padding-top: 10px;
}
.rehiring_div p
{
	font-size:18px;
	color:#212121;
	padding-left: 65px;
    position: absolute;
    width: 100%;
	line-height:50px;
	  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.rehir_pic > img {
    width: 100%;
}
.name_rating
{
	float:left;
	width:auto;
}
.name_rating p
{
	float:left;
	width:auto;
	font-size:20px;
	margin:0;

}
.rating_rehire
{
	float:left;
	width:100%;
	color:#ffad00;
	font-size:17px;
}
.check_box_rating
{
	position:absolute;
	right:0;
	top:10px;
}
li .check_box_rating label
{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(216, 216, 216);
  border-radius: 50%;
  background-color: rgb(249, 249, 249);
  width: 38px;
  height: 38px;
  position:relative;

}
li .check_box_rating label i
{
	opacity:0;
}
li .check_box_rating  [type="checkbox"] {
    display: none;
	position:absolute;
}
li .check_box_rating label
{
	font-size:22px;
	line-height:32px;
	text-align:center;
}
li .check_box_rating  [type="checkbox"]:checked + label
{

  border-color: rgb(3, 163, 53);
  border-radius: 50%;
  background-color: rgb(3, 163, 53);
color:#fff;
}
li .check_box_rating  [type="checkbox"]:checked + label i
{
	opacity:10;
}
.field_forms input[type="text"]:focus {
    border: 1px solid #0b4cc4;
}
.field_forms textarea:focus {
    border: 1px solid #0b4cc4;
}
.dashboard_sec about p
{
	float:left;
	width:100%;
	color:#3b3b3b;
	font-size:14px;
}
.about .field_forms textarea {
    
    margin-top: 10px;
    min-height: 200px;
    
}
.worked_hr_and_amnt
{
	float:left;
	width:100%;
	text-align:center;
	margin-top:50px;
	padding:20px;
}
.worked_hr_and_amnt span {
    border: 1px solid #0b4cc4;
    display: inline-block;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
	margin-top:25px;
	width:100%;
}
.hired_workers_profile
{
	float:left;
	width:100%;
	padding:20px 0;
}
.hired_workers_profile h6
{
	float:left;
	width:100%;
	text-align:center;
	color:#3b3b3b;
	font-size:30px;
}
.hire_profile_employe_sec
{
	float:left;
	width:100%;
	text-align:center;
	overflow:hidden;
	margin-top:30px;
	
}
.img_employe
{
	width:180px;
	height:180px;
	border-radius:50%;
	text-align:center;
	display:inline-block;
	border:4px solid #d4d4d4;
	overflow:hidden;
}
.hire_profile_employe_sec span {
    color: #3b3b3b;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.rate_empl
{
	text-align:center;
	display:inline-block;
	margin-top:5px;
	font-size:15px;
	color:#ffaa00;
}
.grey_text
{
	color:#8f8f8f;
}
.rate_worker .name_rating {
float: right;
    line-height: 63px;
    width: 100%;
}
.rate_worker .rating_rehire {
    color: #8f8f8f;
    font-size: 25px;
    width: auto;
}
.rate_worker .rehiring_div li
{
	padding-bottom:15px;
	padding-top:15px;
}
#manul_hiring .form_signup {
    padding: 0;
}
.company_profile
{
	float:left;
	width:100%;
	text-align:center;
	margin-top:20px;
}
.company_img
{
	width:210px;
	height:210px;
	border-radius:50%;
	text-align:center;
	display:inline-block;
	border:4px solid #0b4cc4;
	position:relative;
}
.company_img img
{
border-radius:50%;
width:100%;
}
.edit_pic {
    border: 4px solid #0b4cc4;
    border-radius: 50%;
    height: 45px;
    position: absolute;
    text-align: center;
	bottom:15px;
	background:#fff;
	right:0;
    width: 45px;
}
.edit_pic i {
    color: #3b3b3b;
    font-size: 22px;
    line-height: 33px;
}
.reset_password
{
	float:left;
	width:100%;
	background:url(../images/banner_reset.png);
}
.reset_password .menu_bar ul li a
{
	color:#fff;
}
.reset_sec
{
	float:left;
	width:100%;
}
.reset_pswrd_sec
{
	float:left;
	width:100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.174px 1.992px 5px 0px rgba(91, 91, 91, 0.17);
  margin-top:50px;

  margin-bottom:50px;

}
.reset_pswrd_sec .field_forms {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.reset_pswrd_sec .date_time_div_post_job
{
	margin-top: 10px;
    padding-top: 0px;
}
.form_inner_sec_reset
{
	  padding:40px;
}
.reset_sec .date_time_div_post_job .buttons {
    padding: 20px;
}
.reset_password .inner_banner_sec
{
	padding: 20px 0;
	padding-bottom:0;
}
.company_info_table
{
	width:100%;
	float:left;
}
.width33company_info
{
	width:33%;
	padding:20px 25px;
	color:#3b3b3b;
	font-size:14px;
	float:left;
	text-align:center;
	font-weight:bold;
}
.company-job-catrgory-name{ position:relative; min-height:35px; padding:0 25px; }
.company-job-catrgory-name span{ position:absolute; width:100%; display:block; left:0; top:50%; 
transform:translate(0,-50%) }
.width66company_info
{
	width:66%;
	color:#3b3b3b;
	font-size:14px;
	float:left;
	text-align:center;
	font-weight:500;
}
.width50company_info
{width:50%;
float:left;
padding:7px;
border-bottom:1px solid #d8d8d8;
border-right:1px solid #d8d8d8;
}
.brdr_btm
{
	border-bottom:1px solid #d8d8d8;
}
.heading_row
{
	float:left;
	width:100%;
	
}
.sub_data
{
	float:left;
	width:100%;
}
.bg_grey
{
	background:#efefef;
	border-bottom:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}
/*--------*/
.stars-example-fontawesome{ width:100%; text-align:center; float:left;}
.br-wrapper{ width:auto; display:inline-block; }
.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 23px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 5px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #e6e6e6;

  text-shadow: inset 0px 1px 0px 0px rgba(166, 166, 166, 0.004);
  
  


}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ffc300;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ffc300;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}
.modal-content {
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}
.modal-header .close {
    margin-top: -2px;
    position: absolute;
    right: 0;
    top: 0;
	z-index: 9999;
}
span.error_msg {
    background: #feefef none repeat scroll 0 0;
    border-radius: 5px;
    color: #f02d15;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
    padding: 4px 6px;
    width: 100%;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}
@media only screen and (max-width:640px)
{
	.company_name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 62%;
}
.profile_pic_name
{
	margin-right:0;
}
.category_input
{
	width:100%;
	margin-top:10px;
	padding-left:0;
}
.search_input
{
	width:100%;
}
.filter_reset_div
{
	margin-top:10px;
	padding:0;
	width:100%;
}
.location_sec
{
	width:100%;
}
.location_sec span
{
	width:15px;
}
.hours_working
{
	width:auto;
	text-align:center;
	position:static;
}
.table_dashboard table td a {
    color: #3b3b3b;
    display: inline-block;
    text-align: left;
    width: 100%;
}
.table_dashboard table td.actions a {
    float: none;
    font-size: 17px;
    padding: 0 3px;
    text-align: center;
    width: auto;
}
.buttons button
{
	margin-left:10px;
}
.table_job_detail
{
	margin-top:20px;
}
.date_time_div_post_job .buttons button {
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}
.heading_row.headingoftb {
    display: none;
}
.width66company_info
{
	width:100%;
}
.width33company_info
{
	width:100%;
}
.buttons button
{
	padding:10px;}
	#Rehiring.rate_worker .rating_rehire {
    color: #8f8f8f;
    float: left !important;
    font-size: 25px;
    width: auto;
}
}
@media only screen and (min-width:641px) and (max-width:1024px)
{
	.filter_reset_div button.reset
	{
		width:40%;
	}
	
}
@media only screen and (min-width:645px) and (max-width:850px)
{
.post_a_job
	{
		bottom:-44px;
		
	}
}
@media only screen and (max-width:767px)
{
	.table_dashboard table th
	{
		display:none;
	}
	.table_dashboard table td
	{
		width:100%;
		float:left;
	}
	
	.table_dashboard table tr {
    border: 1px solid #d8d8d8;
    padding: 10px;
}
.table_dashboard table td {
    padding: 10px 15px;
    text-align: left;
}

.table_dashboard table td:before {
    content: attr(data-list-label);
	font-weight: bold;
   color:#3b3b3b; 
    text-align: left;
  
    white-space: nowrap;
    width: 100%; float:left
}
}



h2.mobilepageTitle{color: #0b4cc4; width: 100%; text-align: left;
    float: left;
    font-weight: 700;
    margin: 25px 0 0;
    padding: 15px;
    
    width: 100%;}