
  	body, html {
      background-color: black;
     /* height: 100%;*/

    }

    #videos {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #subscriber {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    #publisher {
        position: absolute;
        width: 360px;
        height: 240px;
        /*bottom: 10px;
        left: 10px;*/
        top: 10px;
        right: 10px;
        z-index: 100;
        border: 3px solid white;
        border-radius: 3px;
    }


    .container{
            text-align: center;
            padding: 30px;
            margin-top: 5%;
    }

    .call {
        height: auto;
        width: 150px;
    }
   
    /*.content{
        color:white;
        font-size: 20px;
    }*/

    .content{
          color:white;
          font-size: 30px;
      }
    #screen{
        /*display: none;*/
    }
    .imgcalling {
        display: inline-block;
        text-align: center;
        width: 500px;
    }
    .imgcalling video {
        width: 80%;
    }

    @media (max-width: 1200px) {

    .imgcalling {
        margin-top: 225px;
    }
    /*.content{
      font-size: 60px;
    }*/

     .content{
        font-size: 100px;

      }

   /* .call{
          height: 22%;
          width: 50%;
    }*/
    .imgcalling img {
        width: 100%;
    }
    .container{
            padding: 12px;
    }
    .call{
        height: auto;
        width: 350px;
    }

}



